body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: system-ui;
    justify-content: center;
    font-style: oblique;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    
}

#header {
    display: flex;
    flex-direction: column;
    background: #55B4B0;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 16px;
    padding: 0px 20px;
    width: 25%;
    justify-content: space-around;
    text-align: center;
}

#header h1 {
    color: #001f3f;
}

#gameBody {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 16px;
    padding: 0px 20px 0px;
    height: 500px;
    width: 25%;
    justify-content: space-between;
    text-align: center;
}

#rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FF851B;
}

#rules p {
    margin-bottom: 0px;
}

#h1Winner {
    margin-top: 0px;
}

#score {
    display: flex;
    padding: 0%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#h1PlayerScore {
    color: #3D9970;
}

#h1ComputerScore {
    color: #0074D9
}

#circles {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}


.circle {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: 0px 0.5px;
}

.circle:nth-child(5) {
    margin: 0px 5%;
    height: 30px;
    width: 30px;
}

#choiceSelected {
    display: flex;
    justify-content: space-evenly;
}

#p1ChoiceSelected, #p2ChoiceSelected {
    margin-bottom: 0px;
}
#p1ChoiceSelected h3 {
    color: #0074D9
}
#p2ChoiceSelected h3 {
    color: #3D9970;
}

#divChoiceResult {
    margin: 0px 0px 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 5% 15% 10%;
}

button {
    font-family: system-ui;
    border: none;
    border-radius: 8px;
    background: #eee;
    /* background: #0074D9;
    color: #FFFFFF; */
    padding: 10px 8%;
    font-style: oblique;
    margin-left: 0.6%;
    margin-right: 0.6%;

}

